<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Validação para E-Commerce</title>
  <link rel="stylesheet" href="../styles/styles-extension.css" />
  <link rel="stylesheet" href="../styles/styles-global.css" />
</head>

<body>
  <div class="container">
    <h1>SisVal E-Commerce</h1>
    <form id="login-form" class="col v-space-5">
      <label for="email">E-mail:</label>
      <input name="email" />
      <label for="Senha">Senha:</label>
      <input name="password" type="password" />
      <button>Fazer o Login</button>
    </form>
    <span>Não tem uma conta?</span>
    <a href="chrome-extension://hcenkkngnejhobifcdpappckjahpfpco/src/view/website/create_account.html"
      target="_blank">Crie uma aqui</a>
  </div>
  <span>teste formulario</span>
  <a href="chrome-extension://hcenkkngnejhobifcdpappckjahpfpco/src/view/website/form.html" target="_blank">
    Formulario</a>

  <script type="module" src="../../controllers/login.js"></script>
</body>

</html>